<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #373e3e;
      }
      footer {
        background-color: #1f242d;
        color: #fff;
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <footer>
      <center>
        <p>&copy; 2024 3_Abdul Fatah_Universitas Indraprasta PGRI.</p>
      </center>
    </footer>
  </body>
</html>
