
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        background-color: #373e3e;
        color: #fff;
      }
    </style>
  </head>
  <body >
    <h1 align="center" style="color: #22f0df;">About Me</h1>
    <fieldset>
      <legend>
        <font size="20" color="#22f0df">Abdul Fatah</font>
      </legend>
        <ul>
          <li><b> Nama : Abdul Fatah</b></li>
          <li>Universitas : Universitas Indraprasta PGRI</li>
          <li>TTL :Bogor, 15 Juni 2001</li>
          <li>Alamat : Palsigunung , Rt003/005, Mekarsari, Cimanggis, Depok</li>
          <li>
            Hobby:
            <ol>
              <li>Makan</li>
              <li>Minum</li>
              <li>Tidur</li>
              <li>Rebahan</li>
            </ol>
          </li>
        </ul>
  </body>
</html>

