<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSosmed</title>
    <style>
      body {
        background-color: #373e3e;
        color: #fff;
      }
      li a {
        text-decoration: none;
        color: #fff;
      }
      li a:hover {
        color: #22f0df;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend>
        <font size="20" color="#22f0df">Link Sosmed Teman</font>
      </legend>
      <ul>
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/ilyashajah_?igsh=MWYwOHlyemJjdGluYw=="
            >Ilyasha</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/nur_m_nabil.15?igsh=YzljYTk1ODg3Zg=="
            >Nur M Nabil</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/alfidzikra?igsh=MXEyYmdwZDk3bXcwbg%3D%3D&utm_source=qr"
            >Alfi Dzikra</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/rozir_wobari"
            >rozir_wobari</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.instagram.com/alifwijaya.png?igsh=MXRxejBsNnhrc3dpOQ=="
            >alifwijaya</a
          >
        </li>
      </ul>
    </fieldset>
  </body>
</html>
