<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mystudy</title>
    <style>
      body {
        background-color: #373e3e;
        color: #fff;
      }
      table {
        cursor: pointer;
      }
      table tr td:hover {
        background-color: #22f0df;
        color: #373e3e;
        scale: 1.1;
      }
    </style>
  </head>
  <body>
    <center>
      <h1 style="color: #22f0df">MyStudy</h1>
      <table align="center" border="1" cellpadding="20" cellspacing="0">
        <thead>
          <td>No</td>
          <td>Riwayat Pendidikan</td>
          <td>Tahun Lulus</td>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>SMK Negeri 4 Kota Depok</td>
            <td>2019</td>
          </tr>
          <tr>
            <td>2</td>
            <td>SMP Negeri 15 Kota Depok</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>3</td>
            <td>MI Nasyatul Khoir</td>
            <td>2013</td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
