<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navigasi</title>
    <style>
      body {
        background-color: #373e3e;
        color: #fff;
      }
      a {
        text-decoration: none;
        color: #22f0df;
        font-size: 30px;
      }
      a:hover {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend>
        <font size="20" color="#22f0df">Navigasi</font>
      </legend>
      <center>
        <a href="home.html" target="maincolumn">Home</a>&nbsp;&#8596;&nbsp;
        <a href="mystudy.html" target="maincolumn">My Study</a
        >&nbsp;&#8596;&nbsp;
        <a href="gallery.html" target="maincolumn">Gallery</a>
      </center>
    </fieldset>
  </body>
</html>
