<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSosmed</title>
    <style>
      body {
        background-color: #373e3e;
        color: #fff;
      }
      li a {
        text-decoration: none;
        color: #fff;
      }
      li a:hover {
        color: #22f0df;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <legend>
        <font size="10" color="#22f0df">Link Pembelajaran</font>
      </legend>
      <ul>
        <li>
          <a target="_blank" href="https://www.w3schools.com/html/default.asp"
            >HTML</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.w3schools.com/css/default.asp"
            >css</a
          >
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript"
            >JavaScript</a
          >
        </li>
        <li><a target="_blank" href="https://www.php.net/">PHP</a></li>
        <li><a target="_blank" href="https://laravel.com/">Laravel</a></li>
      </ul>
    </fieldset>
  </body>
</html>
